In [3]:
a = 10
b = 20
print("A = ", a)
print("B = ", b)
c = a
a = b
b = c
print("After Swap :")
print("A = ", a)
print("B = ", b)

A =  10
B =  20
After Swap :
A =  20
B =  10

In [5]:
# add two number
print(a+b)

30

In [7]:
name = 'md irfan'
name2 = "atif"
name_3 = """This is python code ! """

print("Name1 = ",name)

print("Name2 = ",name2)

print("Name3 = ",name_3)

Name1 =  md irfan
Name2 =  atif
Name3 =  This is python code !

In [13]:
# type of variables
type(a)

int

In [10]:
type(name)

str

In [11]:
type(name_3)

str

In [15]:
# print with Title
print(name.title())
print(name2.title())
print(name_3.title())

Md Irfan
Atif
This Is Python Code !